.container {
    margin: 0 auto;
    max-width: 760px;
    font-family: OPen sans-serif;
}

.masthead {
    background-color: black;
    padding: 10px 10px 10px 10px;
}

.banner {
    background: #c68f2b;
}

.navlist li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: large;
    color: #c68f2b;
    padding: 14px 15px;
}

.navlist li a:hover {
    background-color: #c68f2b;
    color: black
}

.search input {
    width: 650px;
    height: 30px;
}

.search button {
    width: 30px;
    height: 30px;
    background-color: rgb(252, 252, 252);
    z-index: 1;
}

.content img {
    width: 100%;
}

.welcome h1, p, button {
    text-align: left;
    position: relative;
    bottom: 400px;
    z-index: 1;
}

.welcome h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 72px;
    width: 760px;    
    margin: 0;
}

.welcome p {
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    padding: auto;
}

.welcome button {
    
}